static/app/jade/index.jade
extends _layout.jade

block content
	.slider-wrapper
		.container.slider
			- for (var i = 0; i < 3; i++) 
				.col-xs-12.slider-item
					img(src="/static/dist/img/banner.gif", alt="")
	.services-wrapper
		.container.services
			- for (var i = 0; i < 8; i++) 
				.col-xs-12.col-sm-6.col-md-3
					.service-item
						img(src="/static/dist/img/service-icons/arrow-up.png", alt="")
						.text.text-center
							| Описание услуги
	.license-line
		.container
			i.fa.fa-file-text 
			|   ГОСУДАРСТВЕННАЯ ЛИЦЕНЗИЯ НА ЗАНЯТИЕ АУДИТОРСКОЙ ДЕЯТЕЛЬНОСТЬЮ № 0000000 МФЮ, ВЫДАНА МИНИСТЕРСТВОМ ФИНАНСОВ 27.12.2066 Г.

static/dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width" id="viewport-content"/>
    <title>Ревизоръ</title>
    <link rel="stylesheet" href="/static/dist/vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/dist/vendor/bootstrap-select/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="//use.fontawesome.com/fc28cc8f34.css"/>
    <link rel="stylesheet" href="/static/dist/vendor/jquery/dropzone/dropzone.css"/>
    <!-- slick slider-->
    <link rel="stylesheet" href="/static/dist/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/static/dist/vendor/jquery/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/static/dist/vendor/slick/slick-theme.css"/>
    <!-- fancybox-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/static/dist/css/style.css"/>
  </head>
<body>
  <div class="wrapper">
    <header>
      <div class="line-left"></div>
      <div class="line-right"></div>
      <div class="container">
        <div class="hidden-xs hidden-sm header-line"></div>
        <div class="row">
          <div class="col-md-6 col-xs-12 text-center"><a href="/"><img src="/static/dist/img/logo.png" alt="logo" class="logo img-responsive"/></a></div>
          <div class="col-md-6 col-xs-12 text-center">
            <ul class="menu">
              <li><a href="#">Пункт меню </a></li>
              <li><a href="#">Пункт меню </a></li>
              <li><a href="#">Пункт меню </a></li>
              <li><a href="#">Пункт меню </a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="main_content">
      <div class="slider-wrapper">
        <div class="container slider">
          <div class="col-xs-12 slider-item"><img src="/static/dist/img/banner.gif" alt=""/></div>
          <div class="col-xs-12 slider-item"><img src="/static/dist/img/banner.gif" alt=""/></div>
          <div class="col-xs-12 slider-item"><img src="/static/dist/img/banner.gif" alt=""/></div>
        </div>
      </div>
      <div class="services-wrapper">
        <div class="container services">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="service-item"><img src="/static/dist/img/service-icons/arrow-up.png" alt=""/>
              <div class="text text-center">Описание услуги</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="service-item"><img src="/static/dist/img/service-icons/arrow-up.png" alt=""/>
              <div class="text text-center">Описание услуги</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="service-item"><img src="/static/dist/img/service-icons/arrow-up.png" alt=""/>
              <div class="text text-center">Описание услуги</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="service-item"><img src="/static/dist/img/service-icons/arrow-up.png" alt=""/>
              <div class="text text-center">Описание услуги</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="service-item"><img src="/static/dist/img/service-icons/arrow-up.png" alt=""/>
              <div class="text text-center">Описание услуги</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="service-item"><img src="/static/dist/img/service-icons/arrow-up.png" alt=""/>
              <div class="text text-center">Описание услуги</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="service-item"><img src="/static/dist/img/service-icons/arrow-up.png" alt=""/>
              <div class="text text-center">Описание услуги</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="service-item"><img src="/static/dist/img/service-icons/arrow-up.png" alt=""/>
              <div class="text text-center">Описание услуги</div>
            </div>
          </div>
        </div>
      </div>
      <div class="license-line">
        <div class="container"><i class="fa fa-file-text"> </i>  ГОСУДАРСТВЕННАЯ ЛИЦЕНЗИЯ НА ЗАНЯТИЕ АУДИТОРСКОЙ ДЕЯТЕЛЬНОСТЬЮ № 0000000 МФЮ, ВЫДАНА МИНИСТЕРСТВОМ ФИНАНСОВ 27.12.2066 Г.</div>
      </div>
    </main>
  </div>
  <footer>
    <div class="container">
      <div class="col-xs-12 col-sm-6 text-left">© 2017 АК "Ревизоръ"</div>
      <div class="col-xs-12 col-sm-6 text-right">Абая 106</div>
    </div>
  </footer>
  <script src="/static/dist/vendor/jquery/jquery.min.js"></script>
  <script src="/static/dist/vendor/bootstrap/bootstrap.min.js"></script>
  <!-- moment js-->
  <script src="/static/dist/vendor/bootstrap-select/bootstrap-select.min.js"></script>
  <!-- slick slider plugin-->
  <script src="/static/dist/vendor/slick/slick.min.js"></script>
  <script src="/static/dist/js/all.min.js"></script>
</body>
</html>
